<ng-container >
<div class="flex flex-row" >
    <div  class="flex w-3/4 justify-end ">
        <div  class=" lg:w-3/4 " >
            <h1 class="lg:px-10 text-teal-600">POST</h1>
            <div  >pranav</div>
            <div  class="lg:px-10" >
                <div   class="flex flex-col mt-5 item-center p-6 space-y-6  lg:w-3/4  bg-veryLightGray"  style=" cursor: pointer; background: #FFFFFF;
                box-shadow: 3px 5px 25px -5px rgba(0, 0, 0, 0.25);
                border-radius: 5px;">
                 <div class="pl-2 mt-5">
                    name
                </div>
                <div class="flex justify-between " >
                    <div class="flex flex-col ">
                        <img src="http://127.0.0.1:8000/media/group/group_profile_pic/Screenshot_from_2022-08-29_19-03-23.png"  alt="">
                        
                    </div>
                    
                </div>
                <div class="flex flex-row space-x-4" >
                    <img src="http://127.0.0.1:8000/media/photos/icon/icons8-like-67.png" class="w-16" alt="">
                    <img src="http://127.0.0.1:8000/media/photos/icon/icons8-comment-heart-96.png" class="w-16" alt="">
                </div>
                  <h3 class="text-lg bold-5 pl-20 text-teal-600">
                   
                    
                </h3>
                  
                </div>
            </div>
            
        
        </div>
    </div>
    <div class="w-1/4" >
        
    </div>

</div>
</ng-container>
<ng-template #loading>
    <p>Loading..</p>
  </ng-template>